@import "tailwindcss" theme(static);
@source "../views/";
@source "../../app/";

@font-face {
  font-family: Gabarito;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("../fonts/Gabarito-VariableFont_wght.ttf") format("ttf");
}
@theme {
  --font-gabarito: "Gabarito", "sans-serif";
  --color-accentPrimary: #00D1B2;
  --color-accentSecondary: #000000;
  --color-borderAccent: #7A7A7B;
}
* {
  font-family: "Gabarito", "sans-serif"
}
